body {
  width: 80vw;
  margin: 10px auto;
  font-family: 'Oswald', sans-serif;
  border: 5px solid #A9A9A9;
  padding: 20px;
  background-color: #EFEFEF;
  font-size: 16px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.jumbotron {
  background-color: #CAEBF2;
  color: #2c3e50;
  width: 100%;
  font-size: 1rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* unvisited link */
a:link {
    color: #2c3e50;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: darkgray;
}

/* mouse over link */
a:hover {
    color: #FF3B3F;
}

/* selected link */
a:active {
    color: yellow;
}

h3 a:hover {
	color: #FF3B3F;
	text-decoration: none;
	font-size: 110%;
	font-weight: bold;
}


